[Unit]
Description=uWSGI instance to serve kainoadrost
After=network.target

[Service]
User=websrv_user
Group=www-data
WorkingDirectory=/srv/kainoadrost
ExecStart=/usr/local/bin/uwsgi --ini kainoadrost.ini

[Install]
WantedBy=multi-user.target